// to target the footer partner logos, the selector is repeated to up the specificity to override partner logos
.partners-logo.partners-logo {
  box-shadow: none;
}

// To target the footer
.root {
  padding-bottom: 16px;
}

// It is for the "Le Compte Asso" logo specifically
// Remove this code if we no longer have a png as a second logo with weird aspect ratios
.partners-sub.partners-sub {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li img[alt="Hello asso"]{
    height: 40px !important;
    width: 180px;
  }

  li img[alt="Cosmos sports"] {
    height: 90px !important;
    width: 160px;
  }

  li img[alt="France Paralympique"] {
    height: 90px !important;
    width: 80px;
  }

  li img[alt="MSA - La sécurité sociale agricole"] {
    height: 90px !important;
    width: 190px;
  }

  li img[alt="Le Compte Asso"]{
    height: 40px !important;
    width: 220px;
  }

  li img[alt="Fédération Nationale des Entreprises des Activités Physiques de Loisirs"] {
    height: 90px !important;
    width: 200px;
  }

  li img[alt="Union Sport & Cycle"],
  li img[alt="les CROUS"],
  li img[alt="Caisse nationale allocations familiales"] {
    height: 90px !important;
    width: 90px;
  }

  li img[alt="Intersport"]{
    height: 20px !important;
    width: 190px;
  }

  li img[alt="Keepcool Neoness Metabolik"] {
    height: 60px !important;
    width: 200px;
  }

  li img[alt="Decathlon"]{
    height: 90px !important;
    width: 160px;
  }

  li img[alt="Comité National Olympique et Sportif Français"] {
    width: 90px;
  }
}
