.section {
  margin-top: 2rem;
}

.eligibility-embed {
  form {
    width: 100%;
  }
}

.payload {
  background-color: var(--background-alt-grey);
  padding: 1rem;
  border-radius: 0.25rem;
  overflow-x: auto;
  font-size: 0.875rem;
  white-space: pre-wrap;
  word-break: break-word;
}
