.section {
  margin-top: 2rem;
}

.eligibility-embed {
  form {
    width: 100%;
  }
}

.orSeparator {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--border-default-grey);
  }

  span {
    color: var(--text-mention-grey);
    text-transform: uppercase;
    font-size: 0.875rem;
  }
}

.payload {
  background-color: var(--background-alt-grey);
  padding: 1rem;
  border-radius: 0.25rem;
  overflow-x: auto;
  font-size: 0.875rem;
  white-space: pre-wrap;
  word-break: break-word;
}
