.background {
  background-color: var(--pink-tuile-950-100);
  border-radius: 8px;
  margin: 32px auto 24px auto;
  padding: 40px;
  max-width: 792px;
}

.wrapper {
  background-color: white;
  padding: 40px;
  margin: 0 auto;
  border-radius: 8px;
}

.je-donne-mon-avis-section--failure {
  margin: 32px auto 24px auto;
  padding: 40px;
  max-width: 792px;
}