@import '../../sassVariables.module.scss';

.eligibility-test {
  &__container {
    background-color: var(--artwork-major-blue-france);
    display: flex;
    justify-content: center;
    padding: 16px;
  }

  &__content {
    background-color: var(--blue-france-950-100);
    padding: 40px;
    border-radius: 8px;
    margin: 40px 0 16px 0;
    width: 60%;
    max-width: 992px;

    @media screen and (max-width: $xl) {
      width: 100%;
    }
  }
}

.blue-background {
  background-color: var(--artwork-major-blue-france);
}

.tiles-section {
  max-width: 894px;
}

.video-section {
  max-width: 1200px;
}

.callout-section {
  background-color: var(--artwork-major-blue-france);

  .sizer {
    max-width: 989px;
    padding-top: 24px;
    padding-bottom: 48px;
    @media (min-width: $lg) {
      padding-top: 0px;
      padding-bottom: 0px;
      position: relative;
      top: 48px;
    }
  }
}
