@use '../../variables';


.eligibility-test {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 40px;
  flex-direction: column;
  border-radius: 8px;

  &--has-background{
    background-color: var(--background-alt-pink-tuile);
  }

  &--has-border {
    border: 2px solid var(--border-plain-pink-tuile);
  }

  form {
    width: 100%;
  }

  @media screen and (max-width: variables.$lg) {
    padding: 24px;
  }

  h2 {
    white-space: break-spaces;
  }

  &__fields {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
    margin-top: 2rem;
    width: 100%;
    min-height: 80px;

    @media screen and (min-width: variables.$lg) {
      grid-template-columns: 1fr 3fr 1fr;
    }
  }

  &__confirm-button {
    margin-top: 0px;
    align-self: center;

    @media screen and (min-width: variables.$lg) {
      margin-top: 12px;
    }
  }

  &__field {
    height: auto;

    @media screen and (min-width: variables.$lg) {
      height: 140px;
    }
  }

  .button-margin--error {
    //margin-bottom: 3.2rem;

    @media screen and (max-width: variables.$lg) {
      margin: 0 !important;
    }
  }
}

.je-donne-mon-avis-section {
  flex: 1;
  text-align: right;
  padding: 40px 0;

  &--padding {
    padding: 0 40px 40px 40px;
  }
}