@use 'variables';
@use './utilities.module';
@use './tac-dsfr';

:root {
  --color-white: #ffffff;
  --color-black: #000000;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

// For printing
@page {
  margin: 0;
}

// DSFR Modal
// It adds a right margin to the icon, there is no initial spacing and is not configurable either through the
// react component ...
.fr-modal {
  h1 > span[aria-hidden='true'] {
    margin-right: 8px;
  }
}

.fr-input,
.fr-select {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--text-default-grey);
    box-shadow:
      inset 0 0 0 100px var(--background-contrast-grey),
      inset 0 -2px 0 0 var(--border-plain-grey);
  }

  &:disabled:-webkit-autofill {
    -webkit-text-fill-color: var(--text-disabled-grey);
    box-shadow:
      inset 0 0 0 100px var(--background-contrast-grey),
      inset 0 -2px 0 0 var(--border-disabled-grey);
  }
}
