.text {
  &--italic {
    font-style: italic;
  }

  &--medium {
    font-weight: 500;
  }

  &--black {
    color: var(--color-black);
  }

  &--title-grey {
    color: var(--text-title-grey);
  }

  &--required {
    color: var(--red-marianne-425-625);
  }

  &-align {
    &--center {
      text-align: center;
    }
  }

  &--mention-grey {
    color: var(--text-mention-grey);
  }
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

.display {
  &--block {
    display: block;
  }
}

.flex {
  &--min-content {
    flex: min-content;
  }
}

.align {
  &-self {
    &--baseline {
      align-self: baseline;
    }
  }
}

.justify {
  &-self {
    &--center {
      justify-self: center;
    }
  }
}

.list {
  &--lean {
    padding-inline-start: unset;
    list-style: none;
    margin-block-start: unset;
    -webkit-margin-before: unset;

    & li::before {
      content: '\200B'; // workaround for voiceover, see https://developer.mozilla.org/fr/docs/Web/CSS/list-style-type#accessibilit%C3%A9
      display: block;
      height: 0;
    }
  }
}

.span {
  &--with-linebreak {
    &::after {
      content: '\a';
      white-space: pre;
    }
  }
}

.fr-text-default--grey  {
  color: #3A3A3A;
}