.main {
  background-color: var(--orange-terre-battue-925-125);
}

.wrapper {
  max-width: 688px;
}

.background {
  background-color: var(--color-white);
  max-width: 1200px;
}

.title {
  text-align: center;
}

.description {
  max-width: 688px;
  margin: 0 auto;
}
