@import '../../sassVariables.module.scss';

.main {
  background-color: var(--background-action-low-pink-tuile);
}

.wrapper {
  max-width: 688px;
}

.background {
  background-color: var(--color-white);
  max-width: 1200px;
}

.title {
  text-align: center;
}

.description {
  max-width: 688px;
  margin: 0 auto;
}

.section {
  background-color: var(--background-action-low-pink-tuile);
  padding-bottom: 80px;
}
