SCALINGO_REDIS_URL="redis://localhost:6379"
SCALINGO_POSTGRESQL_URL="postgres://passsport:passsport@localhost:5432/passsport"

API_PARTICULIER_TOKEN=""
API_PARTICULIER_RECIPIENT_SIRET=""
API_PARTICULIER_ENV="staging" # "staging" | "production"

LCA_API_URL=""
LCA_API_KEY=""

LINK_MOBILITY_API_KEY=""
LINK_MOBILITY_SENDER_EMAIL=""
LINK_MOBILITY_SENDER_NAME=""
LINK_MOBILITY_API_URL=""
LINK_MOBILITY_TEMPLATE_CODE=""
LINK_MOBILITY_TEMPLATE_ELIGIBLE_SOON=""
LINK_MOBILITY_TEMPLATE_NOT_ELIGIBLE=""

PIVOT_SIGN_PUBLIC_KEY=""
