name: Site tests
on:
  pull_request:
    branches: [main]
defaults:
  run:
    working-directory: ./site
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: './site/pnpm-lock.yaml'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/site/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.[jt]s', '**/*.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-
      - name: Tests and lint
        run: |
          pnpm run test
          pnpm run lint
      - name: Build production
        run: pnpm run build
        env:
          CRISP_IDENTIFIER: ${{ secrets.CRISP_IDENTIFIER }}
          CRISP_KEY: ${{ secrets.CRISP_KEY }}
          CRISP_WEBSITE: ${{ secrets.CRISP_WEBSITE }}
          OPENDATASOFT_API_KEY: ${{ secrets.OPENDATASOFT_API_KEY }}